div {
      background-color: #FCA311;
    }
    
    
body {
      background-color: #00AA9E;
    }
    
#first { background-color: #FF5416
  
}

.mylabel {  padding: 20px;
  
}

input  {color: #BABFB7;}

